[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telethon = "*"
aiohttp = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
pylint = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"
